    <article class="wrapper_home_landing container_fluid">
        <div class="overlay_black"></div>      

        <div class="row container_home_landing place_middle">
            <div class="col-lg-6 col-md-9 col-sm-10 col-xs-10 col-centered">
                <h1 class="tagline white">Bedankt voor uw </h1><h1 class="tagline red" id="tagline2">bericht.</h1><h1 class="tagline white">Wij nemen zsm contact met u op.</h1>
                <p class="white titel_tekst">
                    Voor nu verwijzen wij u door naar de pagina met onze publicaties die u eventueel verder kunnen helpen</p>            
            </div><br>
        <div class="box_home_landing box white_box col-centered"><%= link_to " > ", articles_path, class: "pijl"%><%= link_to "Publicaties", articles_path, class: "link_tekst"%>
        </div><br><br><br><br><br><br>
        </div>
        
        <div class="down_arrow"><figure><%= image_tag('down_arrow.png', class: "full_size")%></figure></div>
    </article>